@import '@styles/help.scss';

.Section{
  height: 100%;
  margin: 20px 0;
}

.Inner{
  position: relative;
  min-height: 390px;
}

.Filter{
  margin-bottom: 20px;
}

.Pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}