@import '@styles/help.scss';

.Section{
  margin: 20px 0;
}

.Title{
  margin: 10px 0;
}

.Quantity{
  margin-bottom: 15px;
}

.Inner{
  display: flex;
  flex-direction: column;
  position: relative;

  min-height: $product-card-height;
}

.Filter{
  margin-bottom: 20px;
}

.Products{
  position: relative;

  flex: 1;
}

.Pagination{
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}