@import '@styles/help.scss';

.Cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;

  flex-wrap: wrap;

  margin: 0;

  @media screen and (max-width: $tablet-mini + px) {
    justify-content: center;
    gap: 40px;
  }
}

.Card{
  display: grid;
  grid-template-columns: 58px 208px;
  grid-template-rows: 29px 29px;
  align-items: center;
  column-gap: 15px;

  @media screen and (max-width: $tablet-mini + px) {
    grid-template-columns: 58px 230px;
  }

  @media screen and (max-width: $mobile-mini + px) {
    grid-template-columns: 48px 200px;
    grid-template-rows: 24px 24px;

    row-gap: 5px;
  }
}

.Image{
  grid-row: 1/3;
  width: 100%;
  height: 100%;
}

.Title{
  composes: Title-20;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.Text{
  margin: 0;
  grid-column: 2/3;
}