$font-size: 14;
$font-family: 'Mulish', sans-serif;
$font-family-secondary: 'Rubik', sans-serif;

$blue-color: #394FBA;
$blue-hover-color: #394eba31;
$special-blue-color: #4A5FC1;
$deep-blue-color: #394F8A;
$green-color: #7AC751;
$pink-color: #FF6868;

$main-text-color: #555555;
$dark-text-color: #2F2F2F;
$medium-text-color: #757575;
$medium-light-text-color: #999999;
$light-text-color: #C2C2C2;
$white-text-color: #FFFFFF;
$error-text-color: #FF1B44;

$background-color: #F7F8FA;
$background-white-color: #FFFFFF;
$background-dark-color: #9696963d;
$background-bar-color: #FFFFFF;

$container-width: 1200;
$container-padding: 30;
$container-max-width: $container-width + $container-padding;

$tablet: 992;
$tablet-mini: 768;
$mobile: 576;
$mobile-mini: 420;

$bar-height: 50;